<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean  id="serviceLocator"  class="com.nt.serviceLocator.ScoreCardCompServiceLocator"/>
 <bean id="scoreComp"  factory-bean="serviceLocator"   factory-method="locateService"/>

  <bean id="service"  class="com.nt.beans.FindScoreService">
     <property name="comp"  ref="scoreComp"/>
  </bean>
 </beans>