
<web-app>
  <display-name>EmpSearchDAOApp</display-name>
  <welcome-file-list>
    <welcome-file>search.html</welcome-file>
  </welcome-file-list>
  <servlet>
     <servlet-name>main</servlet-name>
     <servlet-class>com.nt.controller.MainServlet</servlet-class>
     <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
     <servlet-name>main</servlet-name>
     <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  </web-app>