<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

 <bean   class="com.nt.beans.TV">
     <property name="remote">
         <bean   class="com.nt.beans.Remote">
             <property name="type" value="digital"/>
         </bean>
     </property>
 </bean>
 
 <bean   class="com.nt.beans.TV"/>
  
  

</beans>