<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- cfg target class -->
  <bean id="shoppingStore"  class="com.nt.service.ShoppingStore"/>
  
  <!-- Cfg Advice/aspect classes-->
  <bean id="discountCouponAspect"  class="com.nt.aspect.DiscountCouponAspect"/>
  
  <aop:config>
     <aop:pointcut id="ptc"  expression="execution(* com.nt.service.ShoppingStore.purchase(..))"/>
     <aop:aspect  id="discountCouponAdvice" ref="discountCouponAspect">
        <aop:after-returning method="couponGenerator"  pointcut-ref="ptc"
                                                  returning="bAmt"/>
     </aop:aspect>
  </aop:config>
  
  
 </beans>